@model CardModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> You've pulled @Model.cards.Length</h1>

@for (int i = 0; i < Model.cards.Length; i++)
{
<p>@Model.cards[i].value of @Model.cards[i].suit </p>
}
<p>You have @Model.remaining cards left in the deck. Here is the ID: @Model.deckId</p>
